html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;

  @media only screen and (max-width: 62.5em) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 56.25em) {
    font-size: 54%;
  }

  @media only screen and (max-width: 37.5em) {
    font-size: 51%;
  }
  @media only screen and (max-width: 22.5em) {
    font-size: 41%;
  }

  @media only screen and (min-width: 112.5em) {
    font-size: 75%;
  }
}
